<html>

    <h1>Let us tell you the weather for today</h1>

    <form action="" method="POST">
        {%csrf_token%}
        <label for="city">Enter city</label><br>
        <input type="text" name="city" id="city" value="{{city}}"><br>
        <button type="submit">Get weather</button>
    </form>
    {%if data%}
        <h2>Weather in {{city}}</h2>
        <h3>
            Coordinates: {{data.coordinates}}</h3>
        <h2>Pressure:{{data.pressure}}</h2>
        <h3>Humidity:{{data.humidity}} </h3>
        <h3>Temperature:{{data.temp}} </h3>
    {% else %}
        <p>Please enter a city name.</p>
    {% endif %}


</html>
