<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Change your Password</h2><br><br>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3 class="text-center"></h3>
                <form method="post" class="p-3 border">
                    {% csrf_token %}
                    {{ form.old_password.label_tag }}<br>
                    {{ form.old_password }}<br>
                    <input type="checkbox" onclick="toggleVisibility('id_old_password')"> Show Password
                    <br><br>
                    {{ form.new_password1.label_tag }}<br>
                    {{ form.new_password1 }}<br>
                    <input type="checkbox" onclick="toggleVisibility('id_new_password1')"> Show Password
                    <br><br>
                    {{ form.new_password2.label_tag }}<br>
                    {{ form.new_password2 }}<br>
                    <input type="checkbox" onclick="toggleVisibility('id_new_password2')"> Show Password
                    <br><br>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function toggleVisibility(fieldId) {
            const field = document.getElementById(fieldId);
            if (field.type === "password") {
                field.type = "text";
            } else {
                field.type = "password";
            }
        }
    </script>
</body>
</html>
