{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}
    <h1>Add Post</h1><br><br>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}} <!-- Django default form tag as_p means as paragraph-->
        <button class="btn btn-secondary">Post</button>
    </form>
    <script>
        var name = "{{user.id}}";
        document.getElementById("user").value = name;
    </script>
    </div>

{% endif %}


{% endblock %}